@import "@styles/_variables.module.scss";

.card__wrapper{
    cursor: pointer;
    flex: 0 0 calc(25% - 16px);
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 25px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.01);
    }
    
    .card__doctor_name{
        font-size: 23px;
        text-align: center;
    }
    .card__doctor_ex{
        font-size: 16px;
        color: $color-blue-dark;
        font-weight: $font-weight-medium;
        cursor: pointer;
        text-align: center;
        
    }
    .card__doctor_des{
        font-size: 18px;
        color: #565656;
        text-align: center;
 
    }
}

.card__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__doctor_option{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}