@import "@styles/_variables.module.scss";
@import "@styles/_mixins.module.scss";

// Container chính
.introduction {
  @include flex(space-between, center, 40px);

  @include respond("ipad") {
    flex-direction: column-reverse;
  }
}

.introduction__reverse {
  @include flex(space-between, center, 40px);
  flex-direction: row-reverse;

  @include respond("ipad") {
    flex-direction: column-reverse;
  }
}

// Cột bên trái
.col__left {
  width: 40%;

  @include respond("ipad") {
    width: 100%;
  }
}

// Tiêu đề và mô tả
.intro__title {
  color: $color-blue-dark;
  font-size: 50px;
  font-weight: $font-weight-normal;
  padding: 10px 0;

  @include respond("desktop") {
    font-size: 30px;
  }
}

.intro__des {
  color: $color-dark-blur;
  font-size: 20px;
  padding: 10px 0;

  @include respond("desktop") {
    font-size: 16px;
    padding: 3px 0;
  }
}

// Hình ảnh
.intro__img {
  width: 100%;
  height: 600px;
  object-fit: contain;
  
  @include respond("tablet") {
    width: 80%;
    height: 80%;
  }


}

.intro__subimg {
  @include respond("tablet") {
    display: none;
  }
}

// Nút bấm
.intro__btns {
  @include flex(center, center, 10px);
  width: 300px;
  margin-top: 15px;
}

.intro__subBtn {
  width: 250px;
  padding: 12px;
  margin-top: 15px;
}