@import "@styles/_variables.module.scss";

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.hero__subtitle{
    color: $color-secondary;
}

.hero__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__image{
    max-width: 600px;
}

.hero__buttons{
    display: flex;
    gap: 15px;
}

.hero__title {
    span{
        color: $color-secondary;
    }
}

.hero__description{
    font-size: 16px;
}