@import "@styles/_variables.module.scss";

.sidebar {
    width: 250px;
    background-color: $color-white;
    border-right: 1px solid #c9c1c1;
    color: $color-dark;
    min-height: 100vh;
    padding: 20px;
}

.sidebarHeader {
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoIcon {
    font-size: 22px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    a{
        display: flex;
        align-items: center;
    }
}

.navItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 6px;
    font-weight: $font-weight-semibold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    color: $color-dark;
}

.navItem:hover {
    background: #f3f0f0;
    color: $color-secondary;
}

.navIcon {
    font-size: 24px;
    transform: translateY(-3px);
}

