@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";

.header{
    padding: 10px;
    position: sticky; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    @include respond("tablet") {
        padding: 20px 10px
    }
}

.header__middle{
    @include flex(center,center,0px);
    @include respond("tablet"){
        display: none;
    }

}

.header__container{
    @include flex(space-between, center, 0px)

}

.header__start__img{
    width: 165px;
    height: 75px;
    @include respond("desktop"){
        width: 130px;
        height: 45px
    }
}

.header__middle__nav{
    @include flex(center, center, 0);
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.header__item{
    list-style: none;
}

.header__end{
    @include flex(center, center, 10px);
    @include respond("tablet"){
        display: none
    }
}

.mobile__menu{
    display: none;
    padding:  8px 12px;
    border: 1px solid #666;
    border-radius: 8px;
    cursor: pointer;
    svg{
        font-size: $font-size-xl;
    }
    @include respond("tablet"){
        display: flex;
    }

}

.header__link{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: $font-weight-semibold;
    color: $color-dark;
    border-radius: 18px;
    transition: all 0.3s ease;
    &:hover{
        background-color: $color-blur;
        color: $color-secondary;
        
    }
    @include respond("laptop"){
        font-size: $font-size-md-mobile;
        text-align: start;
    }

}

.header__menu__mobile{
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 999;
    padding: 8px;
}

