@import "@styles/_variables.module.scss";
@import "@styles/_mixins.module.scss";
.wrapper {
    display: flex;
    justify-content: center;
    background-color: $color-blue-dark;
    color: $color-white;
}

.footer__container{
    

    padding: 30px 0px;
    width: 1600px;
}

.footer__middle{
    @include flex(space-between, center, 0px)
}