@import "@styles/_variables.module.scss";
@import "@styles/_mixins.module.scss";
.wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-blue-dark;
  color: $color-white;
}

.footer__container {
  padding: 30px 0px;
  width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 12px;

  @include respond("tablet") {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer__middle {
  @include flex(space-between, center, 10px);
  padding: 15px 0px;
  @include respond("tablet") {
    text-align: center;
    flex-direction: column;
  }
}

.address {
  @include flex(flex-start, center, 8px);
  svg {
    width: 18px;
    height: 18px;
  }
}

.footer__bottom {
  @include flex(space-between, center, 10px);
  @include respond("tablet") {
    flex-direction: column;
    gap: 10px;
  }
  padding: 15px 0px;
  .footer__options {
    @include flex(center, center, 20px);
    @include respond("tablet") {
      gap: 20px;
    }
  }
}

.footer__top {
  @include respond("tablet") {
    text-align: center;
  }
}

.footer__middle__center {
  .address {
    @include respond("tablet") {
      justify-content: center;
    }
  }
}
