.dashboard__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.dashboard__col_right {
  width: auto;
  display: flex;
}

.dashboard__col_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboard__analys {
  display: flex;
  justify-content: space-between;
}
.dashboard__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.dashboard__chart {
  display: flex;
  gap: 20px;
}

.chart-wrapper {
  padding: 20px; /* khoảng cách bên trong */
  border: 2px solid #ccc; /* màu viền */
  border-radius: 12px; /* bo góc (nếu muốn) */
  background: #fff; /* nên thêm nền để viền nổi bật */
}

.dashboard__report {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.report__box {
  background-color: rgb(52 183 232);
  color: white;
  border-radius: 12px;
  padding: 20px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  svg {
    margin-top: 4px;
  }
}

.calendar__wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
