@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";

.stats__wrapper{
    width: 360px;
    height: 185px;
    padding: 25px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover{
        transform: translateY(-2px);
    }
}





.stats__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stats__title {
        font-size: 16px;
    }
}

.stats__icon{
    padding: 10px;
    background-color: $color-secondary;
    border-radius: 30px;
    svg{
        width: 30px;
        height: 30px;
        color: white;
    }
}

.stats__bot{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .stats__value{
        font-size: 24px;
        font-weight: 700;
    }
}