@import "@styles/_variables.module.scss";

.doctors__team_container {
    padding: 20px;
    margin: 0 auto;  
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.doctors__team_card{
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.doctors__team_filter{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.filter__specialties{
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter__specialties_item{
    padding: 15px;
    background-color: $color-secondary;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.active{
    background-color: #053769;
}

.filter__select{
    width: 250px;
    height: 50px;
    padding: 12px;
}