$breakpoints: (
  "mobile": 0px,         // mặc định mobile-first
  "tablet": 794px,  
  "ipad": 836px,     // từ tablet dọc
  "laptop": 1024px,      // laptop nhỏ
  "desktop": 1280px,     // desktop
  "wide": 1440px,        // màn hình lớn
);
