// Font sizes
$font-size-xs: 0.75rem; // 12px /16
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1rem; // 1rem giữ nguyên
$font-size-xxl: 1.5rem; // 24px
$font-size-xxxl: 2rem;

// Mobile font sizes
$font-size-xs-mobile: 0.625rem; // 10px
$font-size-sm-mobile: 0.75rem; // 12px
$font-size-md-mobile: 0.875rem; // 14px
$font-size-lg-mobile: 1rem; // 16px
$font-size-xl-mobile: 1.125rem; // 18px
$font-size-xxl-mobile: 1.25rem; // 20px

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Mobile font weights
$font-weight-light-mobile: 300;
$font-weight-normal-mobile: 400;
$font-weight-medium-mobile: 500;
$font-weight-semibold-mobile: 600;
$font-weight-bold-mobile: 700;

// Color variables (giữ nguyên)
$color-primary: #6996ee;
$color-secondary: #1976d2;
$color-blue-dark: #133880;
$color-dark: #111111;
$color-dark-blur: #565656;
$color-blur: #eef6fb;
$color-teal: #16b7cc;
$color-blur-bold: #c7d0d6;
$color-white: #fff;