@import "@styles/_variables.module.scss";

.sidebar {
  width: 250px;
  color: $color-dark;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f6fa;
}

.sidebarHeader {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoIcon {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.navMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  a {
    display: flex;
    align-items: center;
  }
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  font-weight: $font-weight-semibold;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  color: $color-dark;
}

.navItem:hover {
  background: #f3f0f0;
  color: $color-secondary;
}

.navIcon {
  font-size: 24px;
  transform: translateY(-3px);
}
