@import "@styles/_mixins.module.scss";
@import "@styles/_variables.module.scss";
.banner{
    background: url("../../assets/images/banner.png");
    width: 100%;
    height: 611px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center, center, 20px);
    flex-direction: column;
    @include respond("ipad"){
        width: 100%;
        height: 400px;
       
    }


}
.box__search {
    width: 700px;
    margin: 0 auto;
    input{
        height: 60px;
        @include respond("ipad") {
            height: 48px;
            
        }
    }
    @include respond("ipad") {
        width: 70%;
       
    }
}

.banner__title{
    text-shadow: 0 4px 4px rgba(104, 125, 199, .2);
    color: #003553;
    font-size: 38px;
    text-align: center;
    @include respond("ipad") {
        font-size: 28px;
    }
}

.box__endow{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 10px;
    @include respond("ipad") {
        display: none;
    }
   
}
.box__endow__item{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 8px;
   svg{
    color: green;
   }
    
}